<!-- 24-29th of june  -->

<section id="itinerary">
  <ul>
	<% if @events.any? %>
		<% @events.each_with_index do |event, i| %>
			<% if @events[i].date.to_date >= Time.now.in_time_zone('Hawaii').to_date %>
				<% if @events[i].date.to_date != @events[i-1].date.to_date || i === 0 %>
					<% if @events[i].date.to_date === Time.now.in_time_zone('Hawaii').to_date %>
						<li class="day">Today</li>	
					<% elsif @events[i].date.to_date === Date.tomorrow.in_time_zone('Hawaii') %>
						<li class="day">Tomorrow</li>
					<% else %>
						<li class="day"><%= @events[i].date.strftime("%^A") %></h3>
					<% end %>
				<% end %>

				<!-- This declares the next event -->
				<% if @events[i+1] != nil && @events[i] != @events[0] %>
					<% if (
							# If the current event is today
							(@events[i].date.to_date === Time.current.to_date) && 
							#If the current event is greater than Time.plus1hour
							(@events[i].date >= (Time.now.in_time_zone('Hawaii')-1*60*60) )&&
							#The next event is greater than Time.now
							(@events[i+1].date >= Time.now.in_time_zone('Hawaii')) &&
							
							#If the last event is less than Time.now
							(@events[i-1].date <= Time.now.in_time_zone('Hawaii')-1*60*60)
						  ) %>
							 <li class="current event">
					<% else %>
						 <li class="event">
					<% end %>			
		<!-- 					If this is the last event -->				
				<% elsif @events[i+1] === nil %>

						<% if ((@events[i].date.to_date === Time.now.in_time_zone('Hawaii').to_date) && ((@events[i-1].date.to_date === Time.now.in_time_zone('Hawaii').to_date) && (@events[i-1].date <= Time.now.in_time_zone('Hawaii').to_date))) %>

						 <li class="current event">
							
						<% else %>
							 <li class="event">
						<% end %>

		<!-- 					If this is the first event -->				

				<% elsif @events[i] === @events.first %>
						<% if (
							#If the event is today
							(@events[i].date.to_date === Time.now.in_time_zone('Hawaii').to_date) && 
							#and the event is less than Time.no+1 hour
							(@events[i].date >= (Time.now.in_time_zone('Hawaii')+1*60*60)) &&
							
							(@events[i+1].date >= Time.now.in_time_zone('Hawaii'))
							) %>

						 <li class="current event">
							
						<% else %>
							 <li class="event">
						<% end %>
				<% else %>

					
				<% end %>
						

						<!-- Event details -->
						<h3><%= @events[i].date.strftime("%HH%M") %></h3>
						<h4><%= @events[i].title %></h4>
						<p><%= @events[i].subtitle rescue nil %></p>
						<p><%= @events[i].description rescue nil %></p>
					
					</li>
			<% end %>
		<% end %>
	<% end %>
  </ul>
</section>