<!-- 24-29th of june  -->

<!-- <section id="itinerary">
    <ul>
        <li class="day"><h3>Today</h3></li>
        <li class="event">
            <h3>13h0</h3>
            <h4>Flight Arrival: HNL</h4>
            <p>Flight #AA715</p>
            <p>Followed By Transfer To FS</p>
        </li>
        <li class="event">
            <h3>15h00</h3>
            <h4>Check In</h4>
            <p>Four Seasons - Honolulu</p>
        </li>
        <li class="current event">
            <h3>19h30</h3>
            <h4>Car Pick-Up</h4>
            <p>Driver: Ray</p>
        </li>
    </ul>
</section> -->
<section id="itinerary">
  <ul>
	<% if @events.any? %>
	<% @events.each_with_index do |event, i| %>

		<% if @events[i].date.to_date != @events[i-1].date.to_date %>
			<li class="day"><%= @events[i].date.strftime("%^A") %></h3>
		<% end %>
		<%#= Time.now.in_time_zone('Hawaii') %>
				<!-- This declares the next event -->	
				<% if ((@events[i].date.to_date === Date.today.to_date) && (@events[i+1].date.to_date === Date.today.to_date) && (@events[i+1].date >= Time.now) && ((@events[i-1].date.to_date === Date.today.to_date) && (@events[i-1].date <= Time.now))) %>

					 <li class="current event">
					 	<%= @events[i].date %><br>
					 	<%= Time.now.in_time_zone('Hawaii')%><br>
					 	<%= @events[i-1].date %><%= @events[i-1].title %><br>
					 	<%= @events[i+1].date %><%= @events[i+1].title %><br>
						
				<% else %>
					 <li class="event">
				<% end %>

				<!-- Event details -->
				<h3><%= @events[i].date.strftime("%HH%M") %></h3>
				<h4><%= @events[i].title %></h4>
				<p><%= @events[i].subtitle rescue nil %></p>
				<p><%= @events[i].description rescue nil %></p>
			</li>
	<% end %>
	<% end %>
  </ul>
</section>