<!-- 24-29th of june  -->

<section id="itinerary">
  <ul>
	<% if @events.any? %>
	<% @events.each_with_index do |event, i| %>

		<% if @events[i].date.to_date != @events[i-1].date.to_date %>
			<li class="day"><%= @events[i].date.strftime("%^A") %></h3>
		<% end %>
		<%#= Time.now.in_time_zone('Hawaii') %>
				<!-- This declares the next event -->	
				<% if ((@events[i].date.to_date === Date.today.to_date) && (@events[i+1].date.to_date === Date.today.to_date) && (@events[i+1].date >= Time.now) && ((@events[i-1].date.to_date === Date.today.to_date) && (@events[i-1].date <= Time.now))) %>

					 <li class="current event">
					 	<%#= @events[i].date %><br>
					 	<%#= Time.now.in_time_zone('Hawaii')%><br>
					 	<%#= @events[i-1].date %><%= @events[i-1].title %><br>
					 	<%#= @events[i+1].date %><%= @events[i+1].title %><br>
						
				<% else %>
					 <li class="event">
				<% end %>

				<!-- Event details -->
				<h3><%= @events[i].date.strftime("%HH%M") %></h3>
				<h4><%= @events[i].title %></h4>
				<p><%= @events[i].subtitle rescue nil %></p>
				<p><%= @events[i].description rescue nil %></p>
			</li>
	<% end %>
	<% end %>
  </ul>
</section>