<body id="admin">
    <%= render partial: 'layouts/nav' %>
    <h1>Admin Page</h1>
    <h1>Events</h1>
    <table id="table_id" class="cell-border compact hover order-column row-border stripe">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Subtitle</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </thead>
      
      <tfoot>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Subtitle</th>
          <th>Description</th>
          <th>User</th>
        </tr>
      </tfoot>
    
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td><%= event.title %></td>
            <td><%= event.subtitle %></td>
            <td><%= event.description %></td>
            <td><%= event.user.first_name %></td>
            <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Event', new_event_path %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready( function () {
        $('#table_id').DataTable( {
            "paging":   true,
            "ordering": true,
            "info":     true,
            "order": [[ 3, "desc" ]]
        } );
    } );
    </script>
</body>