<body id="boutique">
    <%= image_tag('boutique/boutique.png') %>
    <section>
        <%= image_tag('boutique/1.jpg') %>
        <div>
            <h2>Louis Vuitton Honolulu</h2>
            <p>Ala Moana Center<br>1450 Moana Blvd, Honolulu, HI 96814</p>
            <a href="tel:1-808-973-0580">+1 808 973 0580</a>
        </div>
        <p>
            Thursday 9:30AM–9PM<br>
            Friday 9:30AM–9PM<br>
            Saturday 9:30AM–9PM<br>
            Sunday 10AM–7PM<br>
            Monday 9:30AM–9PM<br>
            Tuesday 9:30AM–9PM<br>
            Wednesday 9:30AM–9PM
        </p>
    </section>
    <section>
        <%= image_tag('boutique/2.jpg') %>
        <div>
            <h2>Louis Vuitton Hilton<br>Hawaiian Village</h2>
            <p>Hilton Hawaiian Village, Waikiki Beach Resort<br>2005 Kalia Road, Honolulu, HI 96815</p>
            <a href="tel:1-808-973-3388">+1 808 973 3388</a>
        </div>
        <p>
            Thursday 9:30AM–10PM<br>
            Friday 9:30AM–10PM<br>
            Saturday 9:30AM–10PM<br>
            Sunday 9:30AM–10PM<br>
            Monday 9:30AM–10PM<br>
            Tuesday 9:30AM–10PM<br>
            Wednesday 9:30AM–10PM
        </p>
    </section>
    <section>
        <%= image_tag('boutique/3.jpg') %>
        <div>
            <h2>Louis Vuitton Grump’s Building</h2>
            <p>Grump’s Building<br>2200 Kalakaua Ave, Honolulu, HI 96815</p>
            <a href="tel:1-808-971-6880">+1 808 971 6880</a>
        </div>
        <p>
            Thursday 10AM–11PM<br>
            Friday 10AM–11PM<br>
            Saturday 10AM–11PM<br>
            Sunday 10AM–11PM<br>
            Monday 10AM–11PM<br>
            Tuesday 10AM–11PM<br>
            Wednesday 10AM–11PM
        </p>
    </section>
    <%= render partial: 'layouts/contact' %>
</body>