<body id="guide">
    <aside>
    	<div>
    		<h2>Dining</h2>
    	</div>
    </aside>
    <section>
        <article style="background-image: url('<%= image_url('guide/1.png') %>')">
    		<div>
    			<h2>Vintage Cave Club</h2>
    			<p><span>French / Japanese, Honolulu, HI</span>Honolulu's most acclaimed restaurant adorned with vintage champagne crystal and Picasso paintings bringing guests an unforgettable Japanese-French dining experience. <br><br>Bespoke Benefit: Sommelier Wine experience or private Hennessy Paradis Imperial tasting.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/2.jpg') %>')">
    		<div>
    			<h2>Nobu Honolulu</h2>
    			<p><span>Japanese / Peruvian, Honolulu, HI</span>Chic, minimalist standard for Japanese-Peruvian fare with upscale prices & a well-heeled following by Chef Nobu Matsuhisa. Critically acclaimed as the sexiest restaurant under the Nobu conglomerate providing inventive Japanese cuisine.<br><br>Bespoke Benefit: Meet and greet with the Chef and complimentary glass of champagne.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/3.jpg') %>')">
    		<div>
    			<h2>La Mer</h2>
    			<p><span>French, Honolulu, HI</span>Honolulu's 5-star and celebrated 5-Diamond opulent interior restaurant blending Pacific, tropical flavor profiles with inspiration from Southern France.<br><br>Bespoke Benefit: Meet and greet with the Chef and complimentary glass of champagne.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/4.jpg') %>')">
    		<div>
    			<h2>Eating House Tavern 1849</h2>
    			<p><span>Hawaiian, Koloa, HI</span>Culinary pioneer Roy Yamaguchi pays homage to Hawaii's vibrant culinary heritage bringing a casual dining experience with ingredients from local farmers and fishermen.<br><br>Bespoke Benefit: Handmade lei upon arrival.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/41.jpg') %>')">
    		<div>
    			<h2>Buho Cocina Y Cantina</h2>
    			<p><span>Contemporary, Local Mexican, Honolulu, HI</span>Roomy, modern rooftop restaurant & open-air bar featuring locally sourced Mexican eats & cocktails. Sourcing local ingredients and providing a wholesome modern experience to a traditional menu.<br><br>Bespoke Benefit: Priority seating at the bar.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/42.jpg') %>')">
    		<div>
    			<h2>Michael Mina - Strip Steak</h2>
    			<p><span>Refined Steakhouse, Honolulu, HI</span>Stylish locale with a patio offering a reimagined, seasonal steakhouse menu & craft cocktails. Chef Michael Mina offers a sexy yet elegant experience to Honolulu serving precision at it's finest.<br><br>Bespoke Benefit: Prosecco on arrival.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/43.jpg') %>')">
    		<div>
    			<h2>Beachhouse at the Moana</h2>
    			<p><span>Oceanfront Steakhouse, Honolulu, HI</span>Upscale surf 'n' turf restaurant at Moana Surfrider offering ocean views with veranda seating. Accented with an award-winning wine list and signature hand crafted cocktails, Moana offers both a great experience and tranquil space.<br><br>Bespoke Benefit: Preferred terrace seating, champagne on arrival.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/44.jpg') %>')">
    		<div>
    			<h2>Lewers Lounge</h2>
    			<p><span>Jazz cocktail lounge, Honolulu, HI</span>Halekulani Hotel's upscale jazz lounge is a plush setting for craft cocktails & high-end snacks. Adding an element of swank as an alternative to the island feel.<br><br>Bespoke Benefit: Priority seating at the bar.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/445.jpg') %>')">
    		<div>
    			<h2>Rumfire Waikiki</h2>
    			<p><span>Poolside Lounge, Honolulu, HI</span>Posh, beachside lounge known for unique cocktails, comfort food & coveted fire pits. Excellent for a beachside nightcap.<br><br>Bespoke Benefit: Priority seating at the bar. </p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/45.jpg') %>')">
    		<div>
    			<h2>Bar Leather Apron</h2>
    			<p><span>Intimate Cocktail Bar, Honolulu, HI</span>Co-owners Tom and Justin Park pay tribute to their international travels through an intimate bar experience at Bar Leather Apron. Located on the mezzanine level of the Topa Financial Center, both Tom and Justin offer exquisite craft cocktails and top-shelf liquor and spirit assortment.<br><br>Bespoke Benefit: Priority seating at the bar.</p>
    		</div>
        </article>
    </section>
    <aside>
    	<div>
    		<h2>Wellness</h2>
    	</div>
    </aside>
    <section>
        <article style="background-image: url('<%= image_url('guide/5.jpg') %>')">
    		<div>
    			<h2>Four Seasons Spa</h2>
    			<p><span>Kapolei, HI</span>Inspired by ancient Hawaiian healing traditions, the Naupaka Spa & Wellness Centre offers innovative and luxurious treatments, complemented by local indigenous practices. Our recommendations are The Hanohano Lomilomi, a full body massage with a focus on nuturing and relaxation, and the calming Volcanic Foot and Leg Treatment.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/6.jpg') %>')">
    		<div>
    			<h2>Spa Halekulani</h2>
    			<p><span>Honolulu, HI</span>Intertwining authentic Polynesian therapeutic rituals with modern pure products and refined technique. The award-winning salon has an elevated spa experience both immersive and rejuvenating. Their biggest asset being their beachfront view renowned for their commitment to harmoniously restore client's mind, body, and spirit.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/65.jpg') %>')">
    		<div>
    			<h2>J Salon</h2>
    			<p><span>Honolulu, HI</span>J Salon is the premiere salon for hairstyling and make-up artistry in Honolulu. Their team of highly-trained stylists combined with modern, sleek design provides a luxurious experience for their clients.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/652.jpg') %>')">
    		<div>
    			<h2>Face Art Beauty</h2>
    			<p>Team of highly trained hair and make-up professionals offering personalized in-room appointments. Specializing in upscale make up and hair style services for all their clients.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/7.jpg') %>')">
    		<div>
    			<h2>Floating Yoga and SUP</h2>
    			<p><span>Kapolei, HI</span>One of the best yoga studios in Hawaii, Yoga Floats specializes in yoga on the water on paddleboards. What promises to be a fun and engerising session, guests paddle out 100 feet before dropping anchor in the clear waters of Ala Moana (located 40 minutes from the Four Seasons) or for those seeking a more intense workout, Standup Paddle Boarding, an island favorite, is also on offer. No swimming or previous yoga experience required for these unique activities! Back on the beach, guests can enjoy a serene oceanfront yoga and meditation class. Closer to home, guests can also dip their toes in a floating yoga experience at one of the lagoons at the Four Seasons.</p>
    		</div>
        </article>
    </section>
    <aside>
    	<div>
    		<h2>Activities</h2>
    	</div>
    </aside>
    <section>
        <article style="background-image: url('<%= image_url('guide/9.jpg') %>')">
    		<div>
    			<h2>Bespoke Tour of Iolani Palace: Royal Grounds</h2>
    			<p><span>Cultural/Guided Tour + Private Dining, Honolulu, HI</span>Built in 1882 and home to Hawaiian royalty, the palace, which also served as state capital building, is one of Oahu's most important historical landmarks, playing an integral part in understanding the history and culture of Hawaii. Painstakingly restored, the building hosts beautiful ornate decor. It is also the only palace which exists in the US. Post their one-hour guided tour, guests can retire to one of the ground's tranquil lawns for a private lunch.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/10.jpg') %>')">
    		<div>
    			<h2>Day or Night Honolulu Sailing Experience</h2>
    			<p><span>Yachting/Sailing, Kapolei, HI</span>Luxury on the high seas as bespoke experiences offer guests two very diverse yet memorable ocean-bound fun. By day, guests can soak up the sun and sights and hit the water for snorkeling sessions while other guests can set sail as the sun sets and enjoya sumptous supper.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/11.jpg') %>')">
    		<div>
    			<h2>North Shore Sunset Helicopter Experience</h2>
    			<p><span>Helicopter/Adventure, Honolulu, HI</span>Guests can savor the stunning sights of Oahu from a new perspective with a helicopter tour of the North Shore. This half hour adventure allows guests to cruise past iconic landmarks below.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/12.jpg') %>')">
    		<div>
    			<h2>Submarine Expedition</h2>
    			<p><span>Underwater/Adventure, Honolulu, HI</span>A truly unique experience, guests will embark on a tour 100 foot below water to observe Hawaii's spectacular ocean life on board the world's largest high-tech submarine. Green turtles, stingrays and even sharks can be viewed on this unforgettable 1.5 hour adventure.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/13.jpg') %>')">
    		<div>
    			<h2>Rainforest Experience</h2>
    			<p><span>Active/Adventure</span>Guests can journey into their very own private volcanic rainforest. This tour features a 2 mile round trip exploring 75 acres of lush sacred land. The secluded trail, exclusively accessible to just our guests, grants views of a towering 200-foot waterfall, ancient rock terraces and an abundance of lush tropical vegetation. At 1.5 hours long, this hike promises not to be too taxing, but enough for guests to build up an appetite for a feast of fresh local delicacies.</p>
    		</div>
        </article>
        <article style="background-image: url('<%= image_url('guide/15.jpg') %>')">
    		<div>
    			<h2>Exploring Oahu Tour</h2>
    			<p><span>Cultural/Relaxation, Kaneohe, HI</span>Guests are treated to the very best of Oahu with a curated day trip, encompassing the most stunning beaches,the legendary Diamond Head Lookout and a delicious leisurely lunch at the picturesque Haiku Gardens, before taking in downtown historical sites of importance, including Washington Place.</p>
    		</div>
        </article>
        <p id="powered">
            Powered By
            <%= image_tag("q.svg") %>
        </p>
    </section>
    <%= render partial: 'layouts/contact' %>
    </body>