<%= render partial: 'layouts/nav' %>
<aside id="welcome">
    <h1>Welcome back, <%= current_user.first_name %>!</h1>
    <p>Here's an extensive look at the rest of your time with us in Honolulu.</p>
    <h2 id="weather"><span id="js_temperature"></span><img id="js_conditionImage" /></h2>
    <p>HONOLULU, HI</p>
    <nav>
        <a href="http://us.louisvuitton.com/eng-us/stories/high-jewellery" target="_blank">LV High Jewelry</a>
        <a>Hospitality Program</a>
        <a>Location Guide</a>
        <a>Update Itinerary</a>
    </nav>
    <p id="liason">
        <img src="images/user.png">
        Robbie
        <span>Your Vip Liason</span>
    </p>
    <p id="powered">
        Powered By
        <%= asset_path("q.svg") %>

        
    </p>
</aside>
<%= render partial: 'events' %>
<%= render partial: 'layouts/contact' %>