<body id="welcomeback">
    <%= render partial: 'layouts/nav' %>
    <aside id="welcome">
        
        <%= image_tag("logo.png") %>
        <div class="welcomebox">
            <h1>Welcome back,<br><%= current_user.first_name %>!</h1>
            <h2 id="weather"><span id="js_temperature"></span><img id="js_conditionImage" /><p>HONOLULU, HI</p></h2>
        </div>
        <nav>
            <a id="updateitinerary">Update Itinerary</a>
            <%= link_to "Hospitality Guide", guide_path  %>
            <%= link_to "Location Guide", map_path  %>
            <a href="http://us.louisvuitton.com/eng-us/stories/high-jewellery" target="_blank">LV High Jewelry</a>
        </nav>
        <p id="liason">
            
            <%= image_tag("#{@liason.photo_path}") %>
            <span><%= @liason.first_name %><br>Your Vip Liason</span>
        </p>
    </aside>
    <p id="powered">
        Powered By
        <%= image_tag("q.svg") %>
    </p>
    <%= render partial: 'events' %>
    <%= render partial: 'layouts/contact' %>
</body>

<script type="text/javascript">

var honoluluApiUrl = "https://api.weatherbit.io/v1.0/current?lat=21.3069&lon=-157.8583&key=873efaa027c14804ad5bd284b8cf72c0"

$.ajax({
    url: honoluluApiUrl,
    type: 'GET',
    success: function(result)   {
        var conditionImage = result.data[0].weather.icon
        var temperature = result.data[0].rh
        
        $('#js_conditionImage').attr("src","/assets/weather/" + conditionImage + ".svg")
        $('#js_temperature').append(temperature)
    },
    error: function(error)  {
        console.log(error)
    }
})
</script>