<body id="welcomeback">
    <aside id="welcome">
        <%= image_tag("logo.png") %>
        <div class="welcomebox">
            <h1>Welcome back,<br><%= current_user.first_name %>!</h1>
            <h2 id="weather"><span id="js_temperature">
                <%= image_tag('weather/c01d.svg', id: 'c01d', style:"display:none")%>
                <%= image_tag('weather/c01n.svg', id: 'c01n', style:"display:none")%>
                <%= image_tag('weather/c02d.svg', id: 'c02d', style:"display:none")%>
                <%= image_tag('weather/c02n.svg', id: 'c02n', style:"display:none")%>
                <%= image_tag('weather/c03d.svg', id: 'c03d', style:"display:none")%>
                <%= image_tag('weather/c03n.svg', id: 'c03n', style:"display:none")%>
                <%= image_tag('weather/c03d.svg', id: 'c03d', style:"display:none")%>
                <%= image_tag('weather/c03n.svg', id: 'c03n', style:"display:none")%>
                
                <%= image_tag('weather/c04d.svg', id: 'c04d', style:"display:none")%>
                <%= image_tag('weather/c04n.svg', id: 'c04n', style:"display:none")%>
                
                <%= image_tag('weather/c09d.svg', id: 'c09d', style:"display:none")%>
                <%= image_tag('weather/c09n.svg', id: 'c09n', style:"display:none")%>
                                

                <%= image_tag('weather/c10d.svg', id: 'c10d', style:"display:none")%>
                <%= image_tag('weather/c10n.svg', id: 'c10n', style:"display:none")%>
                
                <%= image_tag('weather/c11d.svg', id: 'c11d', style:"display:none")%>
                <%= image_tag('weather/c11n.svg', id: 'c11n', style:"display:none")%>
                <%= image_tag('weather/c13d.svg', id: 'c13d', style:"display:none")%>
                <%= image_tag('weather/c13n.svg', id: 'c13n', style:"display:none")%>
                <%= image_tag('weather/c50d.svg', id: 'c50d', style:"display:none")%>
                <%= image_tag('weather/c50n.svg', id: 'c50n', style:"display:none")%>

            </span><img id="js_conditionImage" /><p>HONOLULU, HI</p></h2>
        </div>
        <nav>
            <a id="updateitinerary">Update Itinerary</a>
            <%= link_to "LV Boutique", boutique_path  %>
            <a id="oahu">Oahu Island</a>
            <a id="fourseasons">Four Seasons</a>
        </nav>
        <p id="liason">
            <%= image_tag("#{@liason.photo_path}") %>
            <span><%= @liason.first_name %><br>Your Vip Liason</span>
        </p>
    </aside>
    <p id="powered">
        Powered By
        <%= image_tag("q.svg") %>
    </p>
    <%= render partial: 'events' %>
    <%= render partial: 'layouts/contact' %>
    <div id="oahuModal" style="background: url('<%= image_path("experience/1.jpg") %>'); background-size: cover!important; background-position: center center;">
        <div>
            <h6>Oahu Island</h6>
            <p>Known as ‘The Gathering Place’ and renowned as a surfer’s paradise, Oahu is Hawaii’s most populous and metropolitan island and home to the legendary Honolulu, the state capital.<br><br>The island boasts a myriad of stunning beaches, mountains, gardens and cultural sights of significance, such as Pearl Harbor, Diamond Head State Park and Iolani Palace.</p>
        </div>
    </div>
    <div id="fourseasonsModal" style="background: url('<%= image_path("experience/2.jpg") %>'); background-size: cover!important; background-position: center center;">
        <div>
            <h6>Four Seasons</h6>
            <p>Nestled on Oahu’s sunny western coast and soaking up the surrounding natural beauty, the five-star Four Seasons Resort Oahu at Ko Olina delivers the lap-of-luxury touches you would expect from a Four Seasons  merged with unmistakable Hawaiian style and aloha spirit.<br><br>Spoilt for choice doesn’t even come close - a selection of pools and beaches, an array of land and water-based activities, from golf and tennis to traditional Hawaiian outrigger canoe rides, and a variety of first-class dining options, await.</p>
        </div>
    </div>
</body>