<%= form_for(liason) do |f| %>
  <% if liason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liason.errors.count, "error") %> prohibited this liason from being saved:</h2>

      <ul>
      <% liason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :photo_path %>
    <%= f.text_field :photo_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
