<body id="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <img src="assets/images/logo.png" />
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        <% if devise_mapping.rememberable? -%>
            <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        <% end -%>
        <%= f.submit "Log in", id: 'button' %>
    <% end %>
    <!--<%= render "devise/shared/links" %>-->
</body>