<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :location_name, placeholder: 'Location Name' %>
    <%= f.text_field :phone, placeholder: 'Phone Number' rescue nil%>
    <%= f.text_field :address, placeholder: 'Address' rescue nil%>
    <%= f.text_field :lat, placeholder: 'Latitude' %>
    <%= f.text_field :lng, placeholder: 'Longitude' %>
    <%= f.submit %>
    <%= link_to 'Back', locations_path %>
<% end %>
