<body id="admin">
<p id="notice"><%= notice %></p>
    <h1>Locations</h1>
    
    <table id="table_id" class="display striped table-data" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Location name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Lat</th>
          <th>Lng</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td><%= location.location_name %></td>
            <td><%= location.phone %></td>
            <td><%= location.address %></td>
            <td><%= location.lat %></td>
            <td><%= location.lng %></td>
            <td><%= link_to 'Show', location %></td>
            <td><%= link_to 'Edit', edit_location_path(location) %></td>
            <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to 'New Location', new_location_path %>
    <script>
    $(document).ready( function () {
        $('#table_id').DataTable( {
            "paging":   true,
            "ordering": true,
            "info":     true,
            "order": [[ 3, "desc" ]]
        } );
    } );
    </script>
</body>