<header>
 
    <%= image_tag("logo.png") %>

    <button>
        <span></span>
    </button>
    <nav>
        <%= link_to "Home", root_path  %>
        <%= link_to "Guide", guide_path  %>
        <%= link_to "Map", map_path  %>
        <a href="http://us.louisvuitton.com/eng-us/stories/high-jewellery" target="_blank">LV High Jewlery</a>
        <a id="contact">Contact</a>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </nav>
</header>